<div class="card col-9 mt-3">
  <h2 class="card-title">Your Info</h2>
  <div class="card-body">   
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>email address: <%= @user.email_or_phone %></p>
    <p>Birthday: <%= @user.date %></p>
    <p>Gender: <%= @user.gender %></p>
  </div>
</div>
